<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
</head>
<body>
<h1>Reset your password</h1>
<h4>Hello <span th:text="${student.student_name}"></span></h4>
<p>We heard that you lost your password. Sorry about that!.</p>
<p>But don’t worry! You can use the following button to reset your password:</p>
<a style="background-color: #1f883d; color: #fff;display: inline-block;
     padding: 15px 15px; font-weight: 500; border-radius: 10px; margin: 10px 0;"
    href="http://localhost:3000">
    Reset your password
</a>
<p>If you don’t use this link within 3 hours, it will expire</p>
<p>Thanks</p>
</body>
</html>