.btn-insert{
    margin: 15px 0;
    color: #fff;
    padding: 5px 15px;
    border: none;
    background-color: #333; 
    border-radius: 5px;
}
.home-container{
    animation: OpacityAnimation ease .3s;
    width: 100%;
    flex-grow: 1;
    height: 100vh;
    overflow: auto;
}
.home-container .action-course{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.home-container .action-course button{
   border: 0;
   background-color: white;
}
.home-container .action-course button:hover{
    opacity: 0.4;
}
@keyframes OpacityAnimation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}